* {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    padding: 150px;
    color: white;
    background-color: #0b5394;

}